body {
  font-family: verdana, tahoma, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0px;
}

p {
  padding-top: 10px;
  margin: 0px;
}
h1 {
  font-size: 12pt;
  font-weight: bold;
  padding-top: 15px;
  margin: 0;
}

table.navbar {
  font-size: 8pt;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-weight: bold;
}

table.menu {
  font-size: 8pt;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
td.menuNormal {
  padding: 0px;
  color: white;
  font-weight: bold;
  vertical-align: top;
  background-color: #fc3c02;
}
td.menuNormal {
  padding: 0px;
  color: black;
  font-weight: bold;
  vertical-align: top;
  background-color: f8cb91;
}
div.menuNormal {
  display: none;
  position: static;
}
div.menuHover {
  border: 2.5px solid white;
  background-color: #fc3c02;
  display: inline;
  position: absolute;
}

a.menuitem :visited {
  text-decoration: none;
  color: white;
  padding: 2.5px;
  background-color: #fc3c02;
  border-bottom: 2.5px solid white;
  display: block;
}
a.menuitem :hover {
  text-decoration: none;
  color: black;
  padding: 2.5px;
  background-color: #f8cb91;
  border-bottom: 2.5px solid white;
  display: block;
}
a.menuitem :active {
  text-decoration: none;
  color: black;
  padding: 2.5px;
  background-color: f8cb91;
  border-bottom: 2.5px solid white;
  display: block;
}
